{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}


{% block title %}InterimJob
{% endblock %}

{% block body %}
    <h1 class="display-2 text-center"> Bienvenue sur InterimJob !</h1>
    <p class="text-center">
        Accédez à des millions d'offres d'emploi en un click !</br>
        Trouvez les meilleures offres d'emploi correspondant à votre profil grâce à notre algorithme de compatibilité !<br>
        merci macron
    </p>
{% endblock %}
