{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}


{% block title %}InterimJob
{% endblock %}

{% block body %}
    <h1 class="display-2 text-center"> Welcome to InterimJob !</h1>
    <p class="text-center">
        Access millions of job offers with one click! </br>
        Find the best job offers corresponding to your profile thanks to our matching page <br>
        merci macron
    </p>
{% endblock %}
