{% extends 'base.html.twig' %}

{% block title %}Modification d'une offre{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 40rem">
        <div class="card-header">
            Modifiez votre offre
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}