{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}

{% block title %}Hello OfferController!
{% endblock %}

{% block body %}
<div class="container">
	{% for offer in offers %}
	<li>{{ offer.description }}</li>
	<li>{{ offer.status }}</li>
{#	<li>{{ offer.company.name }}</li>#}
	{% endfor %}

</div>

{% endblock %}