{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}

{% block title %}Hello OfferController!
{% endblock %}

{% block body %}
    <div class="container">
        {% for offer in offers %}
            <li>
                <h3>{{ offer.company.name }}</h3>
                {% if offer.status == 'online' %}
                    <span>Vous pouvez Postuler à cette offre.</span>
                {% else %}
                    <span>Vous ne pouvez plus Postuler à cette offre.</span>
                {% endif %}
                <div>{{ offer.description }}</div>
            </li>
        {% endfor %}

    </div>

{% endblock %}