{% extends 'base.html.twig' %}

{% block title %}Create Offer!{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 40rem">
        <div class="card-header">
            Créez votre Offre !
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
