{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
<div>
    {% for company in companies %}
        <div>
            {{company.name}}
        </div>
        <div>
            {{company.email}}
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}
