{% extends 'base.html.twig' %}

{% block title %}Hello ApplyController!{% endblock %}

{% block body %}


    <h6 class="card-subtitle mb-2 text-center">
        Félicitation ! Vous venez de postuler à une offre, vous recevrez une réponse très prochainement !
    </h6>
    <br>
    <br>

{% endblock %}