{% extends 'base.html.twig' %}

{% block title %}Offers !{% endblock %}

{% block body %}
    <div class="container">
        {% for candidacy in candidacies %}
            <div class="card mb-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ candidacy.offer.company.name }}</h5>
                    <h5 class="card-title">{{ candidacy.offer.description }}</h5>
                    {% for skill in candidacy.offer.skills %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ skill.skills }}</h6>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
