{% extends 'base.html.twig' %}

{% block title %}Création d'un candidat{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 40rem">
        <div class="card-header">
           Inscrivez-vous !
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
        <div class="card-body">
            Vous ne trouvez pas votre compétence ?
            <a class="btn btn-outline-dark btn-sm "
               href="{{ path('add_skill')}}">Ajoutez la !</a>
        </div>
    </div>
{% endblock %}