{# templates/emails/signup.html.twig #}
<h1>Bonjour {{candidateLastName}} {{candidateName}}!</h1>

<p>
    Votre profil a retenu notre attention concernant l'offre dont la description est :
    {{offerDescription}}
</p>
<br>
<p>
    Nous attendons votre réponse concernant l'acceptation de cette dernière
    Cordialement,
    l'entreprise {{companyName}}
</p>