{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}


    <h6 class="card-subtitle mb-2 text-center">
        Votre Email a bien été envoyé, votre futur employé vous contactera très bientôt !
    </h6>
    <br>
    <br>

{% endblock %}
